/* #nav-items{
    display: flex;
} */

#header{
    background-color: lightseagreen;
    display: flex;
    height: 80px;
    align-items: flex-end;
    justify-content: flex-end;

}

#header #Name{
    
    font-weight: bolder;
    justify-content: left;
    align-self: flex-start;
}

#header-items{
    list-style-type: none;
   
}
#header-items>li{
    display: inline;
    padding: 10 px;
    margin: 500 px;
    
    
}
#header-items>li>a{
    color: black;
    text-decoration: none;
}
details{
    background-color: lightseagreen;
    padding: 20px;
    width: 900px;
    margin: 30px;
    
    
}
details>summary{
    font-weight: bold;
    text-align: center;
}

#Home>p{
    width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}
#Home>img{
    height: 250px;
    width: 150px;
    border-radius: 5%;
    margin: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer{
    background-color: black;
    color: beige;
}

#Skills h1{
    color: rgb(30, 30, 190);
    text-decoration: underline;
    justify-self:center;
}


#Skills>p{
    display: inline-block;
    height: 30px;
    width: 50em;
    font-weight: bolder;
    margin: 10px;
    padding: 20px;
}

#Skills>p:hover{
    transform: rotateX(360deg);
    transition: 2s;
}
#Skills>img{
    border-radius: 5px;
    height: 20em;
    width: 200px;
    
    
}
.dark{
    background-color: black;
    color: azure;
}